
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    /* background-image: url("https://cdn.pixabay.com/animation/2023/07/19/21/01/21-01-15-870_512.gif"); */
}
  
  .login-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
 
  h2 {
    margin-bottom: 20px;
    color: #6c50af;
    font-size: 2.5em; /* Increase size for better visibility */
    font-weight: bold;
    font-family: 'Dancing Script', cursive; /* Apply cursive font */
    position: relative;
    display: inline-block;
    text-shadow: 1px 1px 0 #d0d9ee, /* Light shadow */
                 2px 2px 0 #869eec, /* Medium shadow */
                 3px 3px 0 #8f7ef3; /* Dark shadow */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  .login-button {
    background: linear-gradient(135deg, #4e54c8, #8f94fb);

    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

  }
  
  /* .login-button:hover {
    background-color: #0056b3;
  } */
  .login-button:hover {
    background: linear-gradient(135deg, #bcbce9, #5b5fa1);

  }
  
  
  .register-link {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .login-card {
      padding: 30px;
    }
  
    .form-input {
      font-size: 14px;
      padding: 10px;
    }
  
    .login-button {
      font-size: 14px;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .login-card {
      padding: 20px;
    }
  
    .form-input {
      font-size: 12px;
      padding: 8px;
    }
  
    .login-button {
      font-size: 12px;
      padding: 8px;
    }
  }
  